<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Анкета пользователя</title>
</head>
<body>
    <div class="container">
        <h1>Анкета пользователя</h1>
        <form method="POST" action="/">
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="city">Город:</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
            <div class="form-group">
                <label for="hobby">Хобби:</label>
                <input type="text" class="form-control" id="hobby" name="hobby" required>
            </div>
            <div class="form-group">
                <label for="age">Возраст:</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <hr>

        <h2>Введенные данные:</h2>
        {% if user_data_list %}
            <ul>
                {% for user_data in user_data_list %}
                    <li>
                        <strong>Имя:</strong> {{ user_data.name }},
                        <strong>Город:</strong> {{ user_data.city }},
                        <strong>Хобби:</strong> {{ user_data.hobby }},
                        <strong>Возраст:</strong> {{ user_data.age }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нет введенных данных.</p>
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
